@import './styles/reset.css';
@import './styles/favorites/favorites.css';
@import './styles/catagory/catagory.css';
@import './styles/navBar/navBar.css';
@import './styles/itempage/itempage.css';
@import './styles/cart/cart.css';
*{
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #fff;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
}