.catagoryPage__header {
  display: flex;
  justify-content: center;

  h1 {
    font-size: 3.125rem;

    span {
      color: palegoldenrod;
      text-transform: uppercase;
    }
  }
}

.Catagory__Products__Container {
  margin-top: 35px;
  // margin-left: 100px;
  // margin-right: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  h3 {
    padding: 0 15px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 8px;
    color: rgb(168, 168, 168);
  }

  .product {
    &:hover {
      box-shadow: 0px 0 10px 0px #888888;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(224, 218, 218);
    border-radius: 5px;

    img {
      height: 150px;
    }
  }

  .product__title {
    font-size: 24px;
    margin: 10px 0 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .product__price {
    font-size: 18px;
    margin: 10px 0 0;

    &::after {
      content: '$';
      color: orange;
    }
  }

  .product__price__value {
    color: orange;
  }

  button {
    padding: 8px 50px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0;
    &:hover {
      color: #91c32f;
      transition: color 0.1s;
      background-color: rgba(99, 97, 97, 0.05);
    }
  }
}
