nav {
  justify-content: space-evenly;
  background-color: rgb(168, 168, 168);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  flex-direction: column;
  .upper__Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 100px;
    .logo {
      margin-left: 15px;
    }
    .nav__Search {
      display: flex;
      width: 480px;
      height: 40px;
      border: 1px solid #eee;
      border-radius: 8px;
      overflow: hidden;
      button {
        background-color: rgb(145, 198, 47);
        height: 100%;
        padding: 0 10px;
      }
      input {
        flex-grow: 1;

        padding: 10px;
        height: 100%;
      }
    }
    .Nav__Actions {
      display: flex;
      padding-right: 15px;
      .sign__In{
        display: flex;
          .Action__Icon {
            
              width: 40px;
              height: 40px;
              background-color: #91c32f;
              border-radius:8px;
              display: flex;
              justify-content: center;
              margin-right: 15px;
              img {
                  width: 30%;
                }
            }
            button {
                font-size:13px ;
                font-weight: 500;
                margin-right: 20px;
            }
        }

      .cart {
        height: 40px;
        width: 40px;
      }
    }
  }

  .bottom__Nav {
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(219, 219, 219);
    background-color: #fff;
    ul {
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            font-size: 1rem;
            letter-spacing: .5px;
            font-weight: 500;
        margin: 0 20px;
        position: relative;
        cursor: pointer;

        &:hover {
          color: #91c32f;
          transition: color 0.1s;
        }
      }
    }
  }
}
