nav {

    justify-content: space-evenly;
    height: 40px;
    background-color: rgb(168, 168, 168);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-grow: 1;

        li {
            margin: 0 20px;
            font-size: 1.5rem;
            position: relative;
            cursor: pointer;

            &:hover {

                // width: 100%;
                &::after {
                    content: '';
                    top: 29px;
                    position: absolute;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background-color: white;

                    width: 100%;
                    transition: width .5s;
                }

            }

            &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: white;

            }

        }
    }

    input[type=text] {
        // margin-left: 50px;
        background-color: white;
        border: 1px solid rgb(168, 168, 168);
        border-radius: 8px;
        padding-left: 5px;
        padding-right: 5px;
    }
}